<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="template4.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <title>Klinik</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="container1">
          <div class="contact1">
            <div class="p-contact1">
              <i class="fa-solid fa-location-dot c"></i>

              <span style="color: grey; padding-top: 6px">
                123 Street, New York, USA</span
              >
            </div>
            <div class="p-contact1-1">
              <i class="fa fa-clock"></i>
              <span style="color: grey; padding-top: 6px">
                Mon - Fri : 09.00 AM - 09.00 PM
              </span>
            </div>
          </div>
          <div class="contact2">
            <div class="p-contact2">
              <i class="fa-solid fa-phone"></i>
              <span style="color: grey; padding-top: 6px"> +012 345 6789</span>
            </div>
            <div class="i-contact">
              <i class="fa-brands fa-facebook-f"></i>
              <i class="fa-brands fa-x-twitter"></i>
              <i class="fa-brands fa-linkedin-in"></i>
              <i class="fa-brands fa-instagram"></i>
            </div>
          </div>
        </div>
        <div class="container2">
          <div class="nav-container">
            <div class="nav-h">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="rgba(0,0,0,1)"
              >
                <path
                  d="M21 19H23V21H1V19H3V4C3 3.44772 3.44772 3 4 3H14C14.5523 3 15 3.44772 15 4V19H19V11H17V9H20C20.5523 9 21 9.44772 21 10V19ZM5 5V19H13V5H5ZM7 11H11V13H7V11ZM7 7H11V9H7V7Z"
                ></path>
              </svg>
              <h1>Klinik</h1>
            </div>
            <div class="nav-list">
              <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Service</a></li>
                <li><a href="">Pages</a></li>
                <li><a href="">Contact</a></li>
                <li class="a-text"><a href="">Appointment</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container3">
          <div class="h-all">
            <div class="h-left1">
              <h1 style="font-size: 40px">
                Good Health Is The Root Of All Heppiness
              </h1>
              <p style="font-size: 30px">
                123 Expert Doctors | 1234 Medical Stuff | 12345 Total Patients
              </p>
            </div>
          </div>
          <div class="container4"></div>
          <div class="h-right1">
            <h2>Cardiology</h2>
          </div>
        </div>
        <button class="button-4">About Us</button>
        <div class="container4">
          <div class="container-img">
            <img
              src="https://www.shutterstock.com/image-photo/healthcare-medical-staff-concept-portrait-600nw-2281024823.jpg"
            />
          </div>
          <div class="text-4">
            <h1 class="h-4">Why You Should Trust Us? Get Know About Us!</h1>

            <p class="p-4">
              Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
              diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
              lorem sit clita duo justo magna dolore erat amet Stet no et lorem
              dolor et diam, amet duo ut dolore vero eos. No stet est diam rebum
              amet diam ipsum. Clita clita labore, dolor duo nonumy clita sit
              at, sed sit sanctus dolor eos.
            </p>
          </div>
        </div>
        <h2 class="main-h2">Health Care Solutions</h2>
        <div class="main1">
          <div class="section-2">
            <i class="fa-solid fa-heart-circle-bolt"></i>
            <h3 class="h3-5">Cardiology</h3>
            <div>
              Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
              sed diam stet diam sed stet.
            </div>
          </div>
          <div class="section-2">
            <i class="fa-solid fa-x-ray"></i>
            <h3 class="h3-5">Pulmonary</h3>
            <div>
              Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
              sed diam stet diam sed stet.
            </div>
          </div>
          <div class="section-2">
            <i class="fa-solid fa-book-skull"></i>
            <h3 class="h3-5">Neurology</h3>
            <div>
              Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
              sed diam stet diam sed stet.
            </div>
          </div>
        </div>
        <div class="main2">
          <div class="section-2">
            <i class="fa-solid fa-wheelchair"></i>
            <h3 class="h3-5">Orthopedics</h3>
            <div>
              Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
              sed diam stet diam sed stet.
            </div>
          </div>
          <div class="section-2">
            <i class="fa-solid fa-tooth"></i>
            <h3 class="h3-5">Dental Surgery</h3>
            <div>
              Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
              sed diam stet diam sed stet.
            </div>
          </div>
          <div class="section-2">
            <i class="fa-solid fa-flask-vial"></i>
            <h3 class="h3-5">Laboratory</h3>
            <div>
              Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
              sed diam stet diam sed stet.
            </div>
          </div>
        </div>
        <div class="content">
          <div class="content-text">
            <h4 class="h4-content">Why Choose Us</h4>
            <p class="p-content">
              Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
              diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
              lorem sit clita duo justo erat amet
            </p>
          </div>
          <div class="content-img">
            <img
              src="https://assets.clevelandclinic.org/transform/e8300515-6397-42f4-afe0-c0038b9952b2/doctor-Patient-at-Appointment-1400046250-770x533-1_jpg"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <h2 class="main-h2">Our Experience Doctors</h2>
        <div class="card">
          <img
            src="https://mrcode.az/media/ready-to-start/docman/assets/img/doctors/doctor-thumb-02.jpg"
            alt=""
            style="width: 100%"
          />
          <h1>John Doe</h1>
          <p class="title">Department</p>
          <div style="margin: 24px 0">
            <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </div>
        </div>
        
      </div>
    </header>
  </body>
</html>
