<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Template-Y.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <title>My WebSite</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="" class="logo">Telman</a>
        <div class="nav-links">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Portfolia</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Connect</a></li>
          </ul>
        </div>
      </nav>
      <div class="left-sidebar"></div>
      <div class="row">
        <div class="left-col">
          <img src="/IMAGES/Telman1.jpg" alt="" srcset="" />
        </div>
        <div class="right-col">
          <h1>
            I'm Telman <br />
            Website Developer
          </h1>
          <p>
            I have been in website development industry from past 5 years and
            have worked with more than twenty clients across the country.
          </p>
          <div class="social-media">
            <div class="icon">
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-x-twitter"></i>
              <i class="fa-brands fa-youtube"></i>
              <i class="fa-brands fa-instagram"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
