<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template2.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  />
</head>
<body>
    <div class="container">
        <div class="nav1">
           <div> <i class="fa-solid fa-phone"></i>
            <a href="tel:+01 123455678990">Call:+01 123455678990</a>
        </div>
    <div>  <i class="fa-regular fa-envelope"></i>
            <a href="Email : mail@domain.com">Email:mail@domain.com</a></div>
                   </div>
                   <header>
                    <div class="nav-2">
                        <div class="nav-2-1">
                            <h3>INANCE
                            </h3>
                        </div>
                        <div class="nav-2-2">
                            <ul>
                                <li>Home</li>
                                <li>About</li>
                                <li>Services</li>
                                <li>Contact Us</li>
        
                            </ul>
                        </div>
                    </div>
                    <div class="nav-container">
                        <div class="nav-container-text">        
                            <h2 class="nav-h2">Repair and <br>
                            Maintenance <br>
                            Services
                           </h2>
                        <p class="nav-p">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui harum voluptatem adipisci. Quos molestiae saepe dicta nobis pariatur, tempora iusto, ad possimus soluta hic praesentium mollitia consequatur beatae, aspernatur culpa.
                        </p>
                        <button class="button">CONTACT US</button></div>
                                                <div class="img-box"><img src="https://www.shutterstock.com/image-photo/portrait-mature-happy-handyman-presenting-600nw-2312717701.jpg" alt=""></div>
                        
                    </div>
                                    <div class="main">
                        <div class="section">
                            <i class="fa-solid fa-pen"></i>   <div>REPAIR</div>
                        </div>
                        <div class="section">
                            <i class="fa-solid fa-house"></i>  <div>IMPROVE</div>
                        </div>
                        <div class="section">
                            <i class="fa-regular fa-building"></i>
                            <div>MAINTAIN</div>
                        </div>
                </div>
            </header>
            <!-- header end -->
            <div class="content">
                <div class="content-text">
                    <h4 class="h4-content">ABOUT US</h4>
                    <p class="p-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomisedThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised</p>
                    <button class="button-content">READ MORE</button></div>
                    <div class="content-img">
                        <img src="https://isqur.com/sekiller/elansekilleri/114.webp" alt="" srcset="">
                    </div>
                </div>
                <div class="content2">
                    <div class="content-img1">
                        <img src="https://img.freepik.com/free-photo/carpenter-cutting-mdf-board-inside-workshop_23-2149451051.jpg"> </div>
                    <div class="content-text2">
                        <h5 class="h5-content">WE PROVIDE PROFESSIONAL
                            HOME SERVICES</h5>
                        <p class="p-content1">randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All randomised words which don't look even slightly</p>
                        <button class="button-content1">READ MORE</button></div>
                        
                       
                    </div>
                    <h2 class="main-h2">OUR SERVICES</h2>
                    <div class="main1">
                        
                        <div class="section-2">
                            <i class="fa-solid fa-screwdriver-wrench"></i>   <div>Maintenance
                                when looking at its layout. The point of using Lorem Ipsum isthat it has a more-or-less normal</div>
                        </div>
                        <div class="section-2">
                            <i class="fa-solid fa-charging-station"></i>  <div>Electrical
                                when looking at its layout. The point of using Lorem Ipsum isthat it has a more-or-less normal</div>
                        </div>
                        <div class="section-2">
                            <i class="fa-solid fa-sink"></i>
                            <div>Plumbing
                                when looking at its layout. The point of using Lorem Ipsum isthat it has a more-or-less normal</div>
                        </div>
                        </div>
            <button class="button-content1-2">VIEW MORE</button></div>
        <div class="input-box">
            <div class="input-div">
                <input type="text" placeholder="name">
                <input type="text" placeholder="name">
                <input type="text" placeholder="name">
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d194473.18588939894!2d49.8549596!3d40.394592499999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d6bd6211cf9%3A0x343f6b5e7ae56c6b!2zQmFrxLE!5e0!3m2!1saz!2saz!4v1715339791726!5m2!1saz!2saz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <footer>
            <h2 class="main-h2">GET IN TOUCH</h2>
            <div class="i-footer">
                <div class="i-footer1">
                <i class="fa-solid fa-location-dot"></i></div>
               <div class="i-footer1">
                <i class="fa-solid fa-phone"></i>
            </div>
                <div class="i-footer1">
                <i class="fa-solid fa-envelope"></i></div>
            </div>
           <div class="p-footer">
            <p>Lorem ipsum dolor sit amet.</p>
                        <a href="tel:+01 123455678990">Call:+01 123455678990</a>
                        <a href="Email : mail@domain.com">Email:mail@domain.com</a>
           </div>
           <h2 class="main-h2">FOLLOW US</h2>
           <div class="icon-end">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>

           </div>

        </footer>
            </div>
                  </div>              
    
</body>
</html>